/* --desktop
When the screen height is over 674px */
@media (min-height: 674px), (min-width: 520px){
	.grille {
		background:#ffffff33;
		display: grid;
		padding: 5px;
		border-radius: 5px;
		grid-template: repeat(6, 100px) / repeat(5, 100px);
	}
}

/* --mobile
When the screen height is under 674px
and when the screen width is under 540px */
@media (max-height: 674px), (max-width: 540px){
	.grille {
		background:#ffffff33;
		display: grid;
		padding: 5px;
		border-radius: 5px;
		grid-template: repeat(6, 64px) / repeat(5, 64px);
	}
	#data{
		flex-flow: column-reverse nowrap;
	}
	#healthBar{
		width: 100%;
		justify-content: space-around;
	}
}

/* --iphone 5s
When the screen height is under 568px
and when the screen width is under 320px */
@media (max-height: 568px), (max-width: 320px){
	.grille {
		background:#ffffff33;
		display: grid;
		padding: 5px;
		border-radius: 5px;
		grid-template: repeat(6, 48px) / repeat(5, 48px);
	}
	#data{
		flex-flow: column-reverse nowrap;
	}
	#healthBar{
		width: 100%;
		justify-content: space-around;
	}
	.health{
		width: 24px;
	}
	#score{
		font-size: 16px;
	}
}